body {
    font-family: 'Balsamiq Sans', serif;
    color: #136C9C;
}

.container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#animal-img {
    border: 10px solid #136C9C;
    border-radius: 5px;
    padding: 20px;
}